#root {
  height: 100vh;
  overflow-y: auto;
}

.drawer {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* subtract padding*/
  height: calc(100vh - 3rem);
}

button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-style: solid;
  border-width: 1px;
  font-size: 0.75rem !important;
  padding: 0.75rem 0;
}

input:not([type='checkbox']):not([type='radio']):not([type='range']) {
  border-radius: 0.25rem !important;
  padding: 10px !important;
  border: 1px solid #c0c9d5;
}

input,
input::placeholder {
  font-size: 0.75rem;
}

.social-button {
  background-color: #ffffff;
}

.divider {
  font-size: 0.75rem;
}

.divider .divider-line {
  width: 100%;
  height: 1px;
  background-color: var(--divider-color, #e0e0e0);
  margin: 0;
}

.journey-preview {
  min-height: 750px;
}

.journey-preview .site-content {
  min-height: 750px;
}

.journey-preview .site-content .form-container {
  max-width: 450px;
  border-radius: 0.25rem;
}

.url-field-editing {
  width: calc(100% - 3.5rem);
}

.url-field-button svg {
  margin-top: -18px;
}

.url-field-button.confirm-button svg path {
  fill: var(--bs-success);
}

.url-field-button.cancel-button svg rect {
  fill: var(--bs-danger);
}

.url-invalid {
  margin-top: -1rem;
}
